<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>


  </head>

  <body class="fondoGeneral">
    <section class="header">
      <div class="container-header">
    
        <footer>
          <p class="textHeader">Envios gratis en compras mayores a $20.000!</p>
        </footer>
      </div>
    </section>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="../../assets/pngLogo.png" width="60" height="40" class="d-inline-block align-top" alt="">
          Ecommerce
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkActivo" href="#">Cart <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <button
              class="btn btn-deslog  nav-link"
              onclick="location.href='/logout'"
            >
              Desloguear
            </button>
            </li>
          </ul>
          <span class="navbar-text">
           
         <!--   ver como -->
          </span>
        </div>
      </nav>
    </div>
    <div class="tituliPrincipal">
      <h3>Bienvenidos al carrito!</h3>
     
    </div>
    <div class="container mt-3">
      <div class="jumbotron">
        <h3>Tu carrito &#9759;</h3>
        <br />

        <% if(hayProductos){ %>
        <div class="table-responsive">
          <table class="table table-dark">
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Foto</th>
            </tr>
            <%productos.forEach(function(producto) {%>
            <tr>
              <td><%=producto.nombre%></td>
              <td><%=producto.precio%></td>
              <td>
                <img
                  width="50"
                  alt="not
                found"
                />
              </td>
            </tr>
            <%});%>
          </table>
        </div>
        <% } else{ %>
        <h3 class="alert alert-warning">No se encontraron productos</h3>
        <% } %>

        <br />
      </div>
    </div>

        <form action="/compra-realizada" method="post">
            <button type="submit" class="btnAddToCart btnCompra">
               <p class="textCompra">Finalizar compra</p> 
            </button>
        </form>
       
      </div>
      <div>
        <form action="/carrito-vacio" method="post">
          <button type="submit" class="vaciarCarro">
              Vaciar carro
          </button>
      </form>
      </div>
    </form>
    <section class="footer">
      <div class="container-footer">
    
        <footer class="totalFooter">
          <p class="textFooter">Derecho reservados ©- Curso Back-end Coderhouse</p>
        </footer>
      </div>
    </section>
  </body>
</html>